@{
    ViewBag.Title = "FeedbackIndex";
}

<div class="container">
    <div style="text-align:center;" class="col pt-4">  
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Feedback")';return false;">Leave a comment</button>
    </div>

    @foreach (var entry in ViewBag.Entries)
    {
        <div class="col pt-4 pb-4">
            <div id="inscomments">
                
                @{ string message = @entry.Message;

                    if (message.Length > 50)
                        message = message.Substring(0, 50);
                }
                <h3 style="color: #0095da; font-weight: normal; text-align:center;">@Html.ActionLink((string)message, "Show" + "/" + (string)entry.Id.ToString())</h3>
                <p style="text-align:right;">
                    Posted by @Html.ActionLink((string)entry.Username, "Comments" + "/" + (string)entry.Username) on @Html.ActionLink((string)entry.DateAdded.ToString(), "CommentsByDate", new { userDate = entry.DateAdded.ToString("dd-MM-yyyy") })
                </p>
            </div>
        </div>
    }

</div>
