@{
    ViewBag.Title = "FeedbackIndex";
}

<div class="container">
    <div style="text-align:center" class="col pt-4">
        <a href="@Url.Action("Create","Feedback")">
            <button type="submit" class="btn btn-primary">Leave a comment</button>
        </a>
    </div>

    @foreach (var entry in ViewBag.Entries)
    {
        <div class="col pt-4 pb-4">
            <div id="inscomments">
                <p>@entry.Username posted on @entry.DateAdded.ToLongDateString() @entry.DateAdded.ToLongTimeString():</p>
                <p>-@entry.Message</p>
                @if (User.Identity.Name == entry.Username)
                {
                    <a href="@Url.Action("Edit/"+ entry.Id,"Feedback")"><button type="submit" class="btn btn-primary">Edit me</button></a>
                }
            </div>
        </div>
    }

</div>
